.contenedor-register {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-titulo-register {
    width: 20%;
    height: 10%;
    margin-bottom: 20px;
}

.contenedor-inputs-register {
    width: 20%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;

    input {
        
        height: 18%;
        width: 95%;
        border-radius: 10px;
        width: 100%;
        padding: 12px 20px;
        border: 1px solid #e2e8f0;
        border-radius: 25px;
        background-color: #f8fafc;
        font-size: 15px;
        color: #334155;
        outline: none;

    }
}

.contenedor-boton-register {
    width: 10%;
    height: 10%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: #4f46e5;
    border-radius: 50%;
}

.contenedor-boton-register button {
    width: 100%;
    height: 100%;
    background-color: #4f46e5;
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 6px -1px rgba(79, 70, 229, 0.2), 0 2px 4px -1px rgba(79, 70, 229, 0.1);
}

.contenedor-checkbox-register{
    display: flex;
    flex-direction: column;
}

.contenedor-checkbox-input-register{
    display: flex;
    flex-direction: row;
}